@font-face {
    font-family: 'Söhne Breit Test';
    src: url(assets/fonts/soehne-breit-kraftig.ttf);
}



header {
    background-image: url(assets/images/Rectangle\ 10.svg);
    height: 100vh;
    background-repeat: no-repeat;
}

nav {
    padding-top: 52px;
    padding-left: 273px;
    display: flex;
    align-items: center;

}

.nav-item {
    font-family: 'Söhne Breit Test';
    font-size: 10px;
    line-height: 12px;
    font-weight: 100;
    color: #272727;
    text-decoration: none;

    margin-right: 25px;
    transition: color 0.1s linear;
}

.nav-item:hover {
    color: #ff5100;
}


.logo {
    position: absolute;
    width: 113px;
    height: 34px;
    left: 81px;
    top: 42px;
}

.buttons {
    font-family: 'Söhne Breit Test';
    font-size: 10px;
    line-height: 12px;
    font-weight: 100;
    position: absolute;
    top: 42px;
    left: 1100px;
}

.top-button1 {
    background-color: rgba(255, 255, 255, 0);
    padding: 7px 20px;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 105px;
    margin-right: 2px;
}

.top-button1:hover {
    background-color: rgba(255, 255, 255, 0.26);
}

.top-button2 {
    background-color: rgba(255, 255, 255, 0);
    padding: 7px 20px;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 105px;
}

.top-button2:hover {
    background-color: rgba(255, 255, 255, 0.26);
}

.vector5 {
    position: absolute;
    width: 787.74px;
    height: 701.76px;
    left: 653.26px;
    top: 0px;

    background: url(assets/images/Vector\ 5.png);
    mix-blend-mode: normal;
}


.heading {
    position: absolute;
    width: 481.16px;
    height: 122.64px;
    left: 80px;
    top: 195px;

}

.tagline {
    position: absolute;
    width: 510px;
    height: 62px;
    left: 80px;
    top: 341px;

    font-family: 'Söhne Breit Test';
    font-size: 18px;
    line-height: 171%;


    color: #595959;
}


.big-button {
    font-family: 'Söhne Breit Test';
    font-size: 14px;
    font-weight: 100;

    position: absolute;
    width: 126px;
    height: 37px;
    left: 80px;
    top: 437px;
}

.bluebutton {

    background: #0033FF;
    color: white;
    padding: 10px 30px;
    border-radius: 105px;
}

.bluebutton:hover {
    background: #ff5100;
}